body {
    font-family: 'Roboto Slab', sans-serif;
    background: linear-gradient(45deg, #6A8D92, #3E4A56, #5C758E, #A2B9B8);
    background-size: 200% 200%;
    animation: waterAnimation 2.5s infinite alternate;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

@keyframes waterAnimation {
    0% { background-position: 0% 0%; }
    25% { background-position: 50% 25%; }
    50% { background-position: 100% 50%; }
    75% { background-position: 50% 75%; }
    100% { background-position: 0% 100%; }
}

.color-picker-wrapper {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
}

#color-picker-button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
}

#colorCode {
    margin: 10px 0;
    font-size: 14px;
}

.saved-colors-container {
    margin-top: 20px;
    text-align: left;
}

.color-preview {
    padding: 10px;
    color: white;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.color-preview:hover {
    transform: scale(1.1);
}

.instruction {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
}
